# Exercises in pandas

In [ ]:
import numpy as np
import pandas as pd

### Exercise 1

Create a pandas series object from elements [4, 7, -5, 3]. Call it data

In [ ]:
data = ### Your code here ###

### Exercise 2

Create a pandas series object from elements [4, 7, -5, 3] and index ['d', 'b', 'a', 'c']. Call it data2

In [ ]:
### Your code here ###

### Exercise 3


Create a pandas series object from sdata using cities as index

In [ ]:
sdata = {'Mumbai': 35000, 'Hyderabad': 71000, 'Kanpur': 16000, 'Ahmedabad': 5000}
cities = ['Hyderabad', 'Mumbai', 'Ahmedabad', 'Kanpur','Pune']
### Your code here ###

### Exercise 4

use pd.isnull to find if any of the elements of the series is null

In [ ]:
### Your code here ###

### Exercise 5


Create a dataframe df from data. <br>
(a) Print the first 2 rows. <br>
(b) Print the column 'state' <br>
(c) Use index =['one', 'two', 'three', 'four','five', 'six'] <br>
(d) Print row with index 'three'

In [ ]:
data = {'state': ['AP', 'Maharashtra', 'Himanchal', 'Punjab', 'UP', 'Punjab'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]} 
        
### Your code here ###

### Exercise 6
                   
(a) Print all rows of data where data['one'] < 5 <br>
(b) create a dataframe data2 with columns 'two' and 'three' of data
(c) Print columns 'two' and 'four' of index 'Gurjat'
(d) Print row 2
(e) Print columns 'two' and 'four' of index upto 'Kerala'

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Punjab', 'Gujrat', 'Kerala', 'UP'], 
                    columns=['one', 'two', 'three', 'four']) 
### YOur code here

### Exercise 7

(a) Apply x.min() to each row of df1 using 'apply' <br>
(b) Add 2 to each element of col 'c' in df1 using 'map' <br>
(c) Using applymap add 1000 to each element of the dataframe df1 <br>

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),index=['MP', 'Tamilnadu', 'Rajasthan'])
### Your code here

### Exercise 8

(a) Sort index of df2 lexicographically <br>
(b) Reset and drop index of df2  <br>
(c) Print the number of unique values in each col of df2 <br>
(d) Print the number of occurences of each value of each column of df2 <br>

In [ ]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),index=['Goa', 'MP', 'Tamilnadu', 'Rajasthan'])
### Your code here

### Exercise 9

(a) Print correlation between microsoft and IBM using returns dataframe <br>
(a) Print covariance between microsoft and IBM using returns dataframe<br>

In [ ]:
import pandas_datareader.data as web 
all_data = {ticker: web.get_data_yahoo(ticker) <br>
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']} 

price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})
returns = price.pct_change()

### Your code here

### Exercise 10

(a) Using read_csv load the file '../datasets/ex1.csv' into a dataframe data <br>
(b) Print all elements of data <br>

In [ ]:
### Your code here

### Exercise 11

Using pd.read_csv read '../datasets/ex6.csv' in chunks of 1000

In [ ]:
### Your code here

### Exercise 12 

Using pd.read_csv read '../datasets/ex7.csv' with header=None

In [ ]:
### your code here